


    <main>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <h1>Build your playlist to run from the songs You like</h1>
                <br/>
            </div>
            <div class="col-1">

            </div>
            <br/>
        </div>

        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <a href="/feellucky" class="btn btn-lg btn-secondary fw-bold border-white bg-white"> <img
                        src="/static/images/flaticon/lucky-64.png" alt="Squeeze" width="64" height="64"> Feel Lucky</a>
            </div>
            <div class="col-3">

            </div>
            <br/>


        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                Fully automated song picker
            </div>
            <div class="col-4">


            </div>
            <br/>


        </div>
        <br/>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <a href="/playlists" class="btn btn-lg btn-secondary fw-bold border-white bg-white"> <img
                        src="/static/images/flaticon/cloth-64.png" alt="Squeeze" width="64" height="64"> &nbsp;&nbsp;
                    Squeeze</a>
            </div>
            <div class="col-3">


            </div>

            <br/>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                Pick one of your playlists and extract the songs to support your run.


            </div>
            <div class="col-4">

            </div>

            <br/>
        </div>
        <br/>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <a href="/playlistmgr" class="btn btn-lg btn-secondary fw-bold border-white bg-white"> <img
                        src="/static/images/flaticon/combiner-box-64.png" alt="Combine" width="64" height="64">
                    &nbsp;&nbsp;
                    Combine</a>
            </div>
            <div class="col-3">

            </div>
            <br/>
        </div>

        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                Alternate or join multiple playlists
            </div>
            <div class="col-4">

            </div>
            <br/>
        </div>

    </main>