      <div style="background-color:#fff; color:black; padding:20px; border-radius:10px; max-width:600px; max-height:200px; overflow:auto;">
        <h1>Privacy Policy</h1>
        <p>We take your privacy seriously. We do not share your personal information with third parties 1.</p>
        <p>By continuing to use this website, you agree to the terms and conditions of this privacy policy.</p>
                  <p>We take your privacy seriously. We do not share your personal information with third parties 1.</p>
        <p>By continuing to use this website, you agree to the terms and conditions of this privacy policy.</p>        <p>We take your privacy seriously. We do not share your personal information with third parties 1.</p>
        <p>By continuing to use this website, you agree to the terms and conditions of this privacy policy.</p>        <p>We take your privacy seriously. We do not share your personal information with third parties 1.</p>
        <p>By continuing to use this website, you agree to the terms and conditions of this privacy policy.</p>        <p>We take your privacy seriously. We do not share your personal information with third parties 1.</p>
        <p>By continuing to use this website, you agree to the terms and conditions of this privacy policy.</p>        <p>We take your privacy seriously. We do not share your personal information with third parties 1.</p>
        <p>By continuing to use this website, you agree to the terms and conditions of this privacy policy.</p>

      </div>