

    <main class="px-3">
        <h1>Playlists for Runners</h1>
        <p class="lead">Build playlists full of energy to support your run. <br/>
            <br/>
             Login to Spotify is needed to retrieve the songs you like from your playlists and to save the newly created playlists.
            <br/><br/>

        </p>
        <p class="lead">
            <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log in on Spotify</a>
        </p>
    </main>


    <footer class="mt-auto text-white-50">
        <p> <a href="https://getbootstrap.com/" class="text-white">Credits</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
