    <script type="text/javascript">

    function showRenameDialog(_list_id, _list_name) {
       $('input[id="txtName"]').val('');
       $('input[id="txtName"]').attr("placeholder",_list_name);
       $('input[id="rename_list_id"]').val(_list_id);

    }
    function showDeleteDialog(_list_id, _list_name) {
         $('input[id="idPlaylistToDelete"]').val(_list_id);
         $('input[id="idShowingPlaylistNameToDelete"]').val(_list_name);
         $('input[id="idNamePlaylistToDelete"]').val(_list_name);
    }
    </script>

Playlist Name: {{list_name}}
                                <a class="bi bi-three-dots" onclick="showRenameDialog('{{list_id}}','{{list_name}}');"
                                   data-bs-toggle="modal" data-bs-target="#renameModal"> Rename</a>
                                <a class="bi bi-three-dots" onclick="showDeleteDialog('{{list_id}}','{{list_name}}');"
                                   data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete</a>
                                   <!-- <button type="submit" value="delete" class="btn btn-primary" name="submit_button">Delete</button> -->
<br/><br/>

Total length: {{lengthOfPlaylist}}' <br/>

<br/>
    <br/>
    <br/>




    <form action="splitplaylist" method="post"
    <label for="rangeSplit" class="form-label">Split length</label>
    <div class="range">
        <input type="range" class="form-range" min="30" max="{{lengthOfPlaylist}}" id="rangeSplit" name="maxMinutes" step="1">
    </div>
<button type="submit" value="split" class="btn btn-primary" name="submit_button">Split</button>
    </form>

<div>----------</div>

{% for r in l1Results %}
   {{loop.index}}- {{ r["name"] }}
{% if r["preview_url"] is not none  %}
<a href="{{ r['preview_url'] }}" class="text-decoration-none" target="_blank" >

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
                 <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"></path>
                 <path fill-rule="evenodd" d="M9 3v10H8V3h1z"></path>
                 <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"></path>
               </svg>
</a>

{% endif %}
 {{ r["duration_ms"]//60000 }}'
    <!-- popularity {{ r["poularity"] }} -->
<br/>
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel"
     aria-hidden="true">
    <form action="playlistrename" method="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameModalLabel">Rename Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="renameMsgDiv">
                Renamimg Playlist
                <input type="text" id="txtName" name="newPlaylistName" class="form-control" placeholder="name" aria-label="Playlist" aria-describedby="basic-addon1" required>
                <input type="hidden" id="rename_list_id" name="rename_list_id" value="test">

            </div>
            <div class="modal-footer">
                <button type="submit" value="rename" class="btn btn-primary" name="submit_button">Rename</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
    </form>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <form action="playlistdelete" method="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Playlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="deleteMsgDiv">
                Delete Playlist : are you sure you want do delete this playlist ?
                <input type="text" id="idShowingPlaylistNameToDelete" name="newPlaylistName" class="form-control" placeholder="name" aria-label="Playlist" aria-describedby="basic-addon1" required>
                <input type="hidden" id="idPlaylistToDelete" name="delete_list_id" value="test">
                <input type="hidden" id="idNamePlaylistToDelete" name="deletePlaylistName" value="test">

            </div>
            <div class="modal-footer">
                <button type="submit" value="delete" class="btn btn-primary" name="submit_button">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
    </form>
</div>






