<script type="text/javascript">

    function showRenameDialog(_list_id, _list_name) {
       $('input[id="txtName"]').val('');
       $('input[id="txtName"]').attr("placeholder",_list_name);
       $('input[id="rename_list_id"]').val(_list_id);

    }
    function showSplitDialog(_list_id, _list_name) {
        $('input[id="split_list_id"]').val(_list_id);
         $('input[id="idNamePlaylistToSplit"]').val(_list_name);
    }
    function showDeleteDialog(_list_id, _list_name) {
         $('input[id="idPlaylistToDelete"]').val(_list_id);
         $('input[id="idShowingPlaylistNameToDelete"]').val(_list_name);
         $('input[id="idNamePlaylistToDelete"]').val(_list_name);
    }
    function showPreviewDialog(_url) {
        document.getElementById("previewDiv").innerHTML= "<iframe src='"+_url+"'></iframe>";

    }
    /** http://jsfiddle.net/rE6Rk/1/ **/

function hslToRgb(h, s, l){
    var r, g, b;

    if(s == 0){
        r = g = b = l; // achromatic
    }else{
        function hue2rgb(p, q, t){
            if(t < 0) t += 1;
            if(t > 1) t -= 1;
            if(t < 1/6) return p + (q - p) * 6 * t;
            if(t < 1/2) return q;
            if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
            return p;
        }

        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
        var p = 2 * l - q;
        r = hue2rgb(p, q, h + 1/3);
        g = hue2rgb(p, q, h);
        b = hue2rgb(p, q, h - 1/3);
    }

    return [Math.floor(r * 255), Math.floor(g * 255), Math.floor(b * 255)];
}

// convert a number to a color using hsl
function numberToColorHsl(i) {
    // as the function expects a value between 0 and 1, and red = 0° and green = 120°
    // we convert the input to the appropriate hue value
    var hue = i * 1.2 / 360;
    // we convert hsl to rgb (saturation 100%, lightness 50%)
    var rgb = hslToRgb(hue, 1, .5);
    // we format to css value and return
    return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')';
}

// convert a color to a number using hsl
// based on formula as provided by @KamilT
function numberToColorRgb(i) {
    // we calculate red and green
    var red = Math.floor(255 - (255 * i / 100));
    var green = Math.floor(255 * i / 100);
    // we format to css value and return
    return 'rgb('+red+','+green+',0)'
}



</script>
<div class="row">
    <div class="col-9">
        Playlist Name: {{list_name}}

        <br/><br/>

        Total length: {{lengthOfPlaylist}}' <br/>

        <br/>
        <br/>
        <br/>


    </div>
    <div class="col-3">

        <a class="bi bi-card-text" onclick="showRenameDialog('{{list_id}}','{{list_name}}');"
           data-bs-toggle="modal" data-bs-target="#renameModal"> Rename</a>
        <br/>
        <a class="bi-arrows-angle-expand" onclick="showSplitDialog('{{list_id}}','{{list_name}}');"
           data-bs-toggle="modal" data-bs-target="#splitModal"> Split</a>
        <br/>


        <a class="bi bi-trash" onclick="showDeleteDialog('{{list_id}}','{{list_name}}');"
           data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete</a>
        <br/>
        <!-- <button type="submit" value="delete" class="btn btn-primary" name="submit_button">Delete</button> -->
    </div>
</div>

<i class="bi bi-funnel"></i>

<i class="bi bi-battery"></i>
<i class="bi bi-battery-half"></i>
<i class="bi bi-battery-full"></i>

<i class="bi bi-cassette"></i>
<i class="bi bi-music-player"></i>


<i class="bi bi-clipboard2-data"></i>
<i class="bi bi-clipboard-pulse"></i>
<i class="bi bi-dribbble"></i>
<i class="bi bi-ev-station"></i>
<i class="bi bi-filter"></i>
<i class="bi bi-filter-circle"></i>
<i class="bi bi-intersect"></i>
<i class="bi bi-optical-audio"></i>
<i class="bi bi-robot"></i>
<i class="bi bi-search"></i>
<i class="bi bi-scissors"></i>
<i class="bi bi-sort-down"></i>
<i class="bi bi-sort-down-alt"></i>
<i class="bi bi-speaker"></i>
<i class="bi bi-spotify"></i>
<i class="bi bi-stack"></i>
<i class="bi bi-star"></i>
<i class="bi bi-stopwatch"></i>
<i class="bi bi-thermometer"></i>
<i class="bi bi-trophy"></i>

<div>----------</div>

{% for r in l1Results %}
{{loop.index}}- <span class="text-primary">{{ r["artist"] }}:</span>{{ r["name"] }}
        <br/>
{% if r["preview_url"] is not none  %}
        <a class="bi bi-music-note" onclick="showPreviewDialog('{{ r['preview_url'] }}');"
           data-bs-toggle="modal" data-bs-target="#previewModal" data-bs-toggle="tooltip"  title="Listen to song preview"></a>

{% endif %}
{{ r["duration_ms"]//60000 }}'




<!-- option3 color the disk using js and HSL range -->
<i   id="colorFunToRun2{{loop.index}}"></i>
<script>document.getElementById("colorFunToRun2{{loop.index}}").innerHTML = '<i class="bi bi-disc" style="color:'+ numberToColorHsl({{(r["danceability"]+r["energy"])*100//2 }}) + '" data-toggle="tooltip" data-placement="right" title=" Fun To Run:{{(r["danceability"]+r["energy"])*100//2 }}"></i>';</script>

<br/>



{% endfor %}

<!-- Modal -->
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel"
     aria-hidden="true">
    <form action="playlistrename" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameModalLabel">Rename Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="renameMsgDiv">
                    Renamimg Playlist
                    <input type="text" id="txtName" name="newPlaylistName" class="form-control" placeholder="name"
                           aria-label="Playlist" aria-describedby="basic-addon1" required>
                    <input type="hidden" id="rename_list_id" name="rename_list_id" value="test">

                </div>
                <div class="modal-footer">
                    <button type="submit" value="rename" class="btn btn-primary" name="submit_button">Rename</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal fade" id="splitModal" tabindex="-1" aria-labelledby="splitModalLabel"
     aria-hidden="true">
    <form action="playlistsplit" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="splitModalLabel">Split Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="splitMsgDiv">
                    Splitting  Playlist
        <div class="container">

            <div class="form-group">
                <label for="rangeSplit">Pick the maximum length (in minutes) of the sub-playlists to be created</label>
                <input type="range" class="form-control-range" id="rangeSplit" min="30" max="180" name="maxMinutes" step="1"
                       onInput="$('#rangeval').html($(this).val())">
                <span id="rangeval">50<!-- Default value --></span>
                <input type="hidden" id="idNamePlaylistToSplit" name="split_list_name" value="test">
            </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        </div>
                    ******
                    <input type="hidden" id="split_list_id" name="split_list_id" value="test">

                </div>
                <div class="modal-footer">
                    <button type="submit" value="split" class="btn btn-primary" name="submit_button">Split</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </form>













</div>




<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <form action="playlistdelete" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="deleteMsgDiv">
                    Delete Playlist : are you sure you want do delete this playlist ?
                    <input type="text" id="idShowingPlaylistNameToDelete" name="newPlaylistName" class="form-control"
                           placeholder="name" aria-label="Playlist" aria-describedby="basic-addon1" required>
                    <input type="hidden" id="idPlaylistToDelete" name="delete_list_id" value="test">
                    <input type="hidden" id="idNamePlaylistToDelete" name="deletePlaylistName" value="test">

                </div>
                <div class="modal-footer">
                    <button type="submit" value="delete" class="btn btn-primary" name="submit_button">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel"
     aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="previewDiv">
                    <iframe src="" title="preview" id="previewFrame"></iframe>
                </div>

            </div>

        </div>
</div>




